.mf-chat-message{
	font-weight: var(--mf-weight);
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	color: var(--mf-grey);
}
.mf-chat{
	margin-left: 310px;
}
.mf-side-bar{
	background: #FBFBFB;
	width: 310px;
	padding-top: 21px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	border-right: 1px solid #EAEAEA;
}
.mf-side-bar__header{
	padding: 0px 10px 14px;
	display: flex;
	flex-direction: column;
}
.mf-side-bar__link{
	font-weight: var(--mf-weight);
	font-size: 12px;
	line-height: 12px;
	text-align: right;
	color: var(--mf-grey);
	text-decoration: none;
	margin-bottom: 23px;
}
.mf-side-bar__button{
	height: 32px;
	left: 10px;
	top: 56px;
	background: #EFEFEF;
	border: 0;
	border-radius: 5px;
	font-weight: var(--mf-weight);
	font-size: 12px;
	line-height: 12px;
	color: var(--mf-grey);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.mf-side-bar__button-text{
	margin-left: 4px;
}
.mf-side-bar__list{
	padding-left: 0px;
	margin: 0;
	overflow-y: auto;
	height: 100%;
}
.mf-side-bar__list-item{
	position: relative;
	padding: 0px 10px;
	margin-top: 3px;
}
.mf-side-bar__list-item:first-child .mf-item::before{
	content: '';
	position: absolute;
	top: -2px;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: #EAEAEA;
}
.mf-side-bar__list-item:hover{
	background: #E4EDFD;
}

.mf-item{
	position: relative;
	padding: 12px 0px;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
}
.mf-item::after{
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: #EAEAEA;
}

.mf-item:hover .mf-side-bar__list-item{
	background: #E4EDFD;
}
.mf-item__image{
	position: absolute;
	width: 47px;
	height: 47px;
	background: #EFEFEF;
	border-radius: 50%;
}
.mf-item__short-text{
	margin-left: 57px;
}
.mf-item__name{
	font-weight: 600;
	font-size: 13px;
	line-height: 13px;
	color: #1E1E1E;
	margin: 0;
	margin-bottom: 4px;
}
.mf-item__text{
	font-weight: var(--mf-weight);
	font-size: 12px;
	line-height: 15px;
	color: var(--mf-grey);
	margin: 0;
	min-height: 30px;
}
.mf-item__text-info{
	font-weight: var(--mf-weight);
	font-size: 12px;
	line-height: 15px;
	color: #1E1E1E;
}


.mf-item__detail{
	display: flex;
	flex-direction: column;
}
.mf-item__time{
	font-weight: var(--mf-weight);
	font-size: 9px;
	line-height: 13px;
	text-align: right;
	color: var(--mf-grey);
	margin-bottom: 14px;
}
.mf-item__actual-message{
	width: 20px;
	height: 20px;
	background: #3369F3;
	border-radius: 50%;
	font-weight: var(--mf-weight);
	font-size: 11px;
	line-height: 12px;
	text-align: center;
	color: var(--mf-bg-white);
	display: flex;
	align-items: center;
	justify-content: center;
}


.mf-chat__header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 20px;
	padding: 10px 0;
	border-bottom: 1px solid #EAEAEA;
	position: fixed;
	top: 0;
	right: 0;
	left: 310px;
	background: var(--mf-bg-white);
	z-index: 5;
  }
  .mf-chat__settings{
	  cursor: pointer;
	  margin-right: 11px;
  }
  .mf-chat__companion{
	  display: flex;
	  align-items: center;
  }
  .mf-chat__companion-image{
	  left: 0;
	  width: 34px;
	  height: 34px;
	  background: #EFEFEF;
	  border-radius: 50%;
  }
  .mf-chat__companion-title{
	  font-weight: 600;
	  font-size: 13px;
	  line-height: 13px;
	  color: var(--mf-text-color);
	  margin: 0;
	  margin-left: 10px;
  }
  .mf-chat__companion-text{
	  font-weight: var(--mf-weight);
	  font-size: 12px;
	  line-height: 12px;
	  color: var(--mf-grey);
	  margin: 0;
	  margin-top: 5px;
	  margin-left: 10px;
  }
  .mf-chat__body{
	  display: flex;
	  flex-direction: column;
	  padding: 48px 20px 30px;
  }
  .mf-chat__time{
	  font-weight: var(--mf-weight);
	  font-size: 12px;
	  line-height: 12px;
	  text-align: center;
	  color: var(--mf-grey);
	align-self: center;
	margin-top: 54px;
	  margin-bottom: 41px;
  }
  .mf-chat__message{
	  position: relative;
	  width: 402px;
	  background: #F8F8F8;
	  padding: 11px;
	  border-radius: 12px;
	  font-style: normal;
	  font-weight: var(--mf-weight);
	  font-size: 12px;
	  line-height: 15px;
	  color: var(--mf-text-color);
	  margin-bottom: 21px;
	  align-self: flex-start;
  }
  .mf-chat__message-time{
	  position: absolute;
	  right: 11px;
	  bottom: 11px;
	  font-weight: var(--mf-weight);
	  font-size: 9px;
	  line-height: 9px;
	  text-align: right;
	  color: var(--mf-grey);
  }
  .mf-chat__image-message{
	  position: relative;
	  width: 316px;
	  align-self: flex-start;
  }
  .mf-chat__image-message-time{
	  position: absolute;
	  right: 11px;
	  bottom: 11px;
	  width: 37px;
	  height: 13px;
	  background: rgba(82, 82, 82, 0.5);
	  border-radius: 30px;
	  font-weight: var(--mf-weight);
	  font-size: 9px;
	  text-align: right;
	  color: var(--mf-bg-white);
	  display: flex;
	  align-items: center;
	  justify-content: center;
  }
  .mf-chat__answer{
	  padding: 11px;
	  background: #E4EDFD;
	  border-radius: 12px 12px 0px 12px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  align-self: flex-end;
  }
  .mf-chat__answer-text{
	  font-weight: var(--mf-weight);
	  font-size: 12px;
	  line-height: 15px;
	  text-align: right;
	  color: var(--mf-text-color);
	  margin: 0;
	  margin-right: 15px;
  }
  .mf-chat__answer-time{
	  font-weight: var(--mf-weight);
	  font-size: 9px;
	  line-height: 9px;
	  text-align: right;
	  color: var(--mf-text-blue);
	  margin: 0;
	  margin-left: 4px;
  }
  .mf-chat__footer{
	margin: 0 20px;
	padding: 10px 0;
	border-top: 1px solid #EAEAEA;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 310px;
	background: var(--mf-bg-white);
	z-index: 5;
  }
  .mf-chat__form{
	  display: flex;
	  align-items: center;
  }
  .mf-chat__form-setting{
	  cursor: pointer;
  }
  .mf-chat__form-message{
	  height: 32px;
	  left: 373px;
	  top: 677px;
	  background: var(--mf-bg-white);
	  border-radius: 30px;
	  padding: 10px 20px;
	  width: 100%;
	  margin-left: 16px;
	  margin-right: 10px;
	  border: 0;
	  box-sizing: border-box;
	  outline: none;
  }
  .mf-chat__form-message::placeholder{
	  font-weight: var(--mf-weight);
	  font-size: 12px;
	  line-height: 12px;
	  color: var(--mf-grey);
  }


  .mf-chat__form-button{
	  border-radius: 50%;
	  border: 0;
	  padding: 0;
	  display: flex;
	  align-items: center;
	  cursor: pointer;
  }

