:root {
  --mf-text-color: #1E1E1E;
  --mf-text-blue: #3369F3;
  --mf-bg-white: #FFFFFF;
  --mf-grey:#999999;
    /**Fonts variables*/
  --mf-weight: 500;
  --mf-family: Inter, sans-serif;
    /**Base indents*/
    --mf-base-indent: 12px;
}
